.Root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav {
  padding: 40px 80px 10px 70px;
  flex: var(--sidebar-flex);
  background: linear-gradient(45deg, rgb(182, 95, 177) 10%, rgb(151, 101, 143) 70%);
  margin-top: -360px;
  margin-left: -800px;
}

nav ul {
  font-size: var(--fontsize-nav);
 
  list-style: none;
}

nav ul li {
  margin: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
